<% content_for :menu do %>
  <ul class="maintabmenu multipletabmenu">
    <li class="current">
      <%= link_to "General", admin_statistics_path %>
    </li>
    <li>
      <%= link_to "Leaderboard", admin_statistics_leaderboard_path %>
    </li>
    <li>
      <%= link_to "Online Ops", admin_statistics_online_ops_path %>
    </li>
    <li>
      <%= link_to "Message History", admin_statistics_message_history_path %>
    </li>
    <li>
      <%= link_to "Payment for op", admin_statistics_payment_for_ops_path %>
    </li>
    <li>
      <%= link_to "Notes History", admin_statistics_notes_history_path %>
    </li>
  </ul>
<% end %>
<div>
  <div class="contenttitle radiusbottom0">
    <h2 class="help"><span>Reach</span></h2>
  </div>
  <!--contenttitle-->
  <table cellspacing="0" cellpadding="0" border="0" class="stdtable">
    <colgroup>
      <col class="con0">
      <col class="con1">
      <col class="con0">
      <col class="con1">
      <col class="con0">
    </colgroup>

    <tbody>
      <tr>
        <td>Total App Installs:</td>
        <td>289</td>
      </tr>
      <tr>
        <td>App Installs This Month:</td>
        <td>19</td>
      </tr>
    </tbody>
  </table><br>
</div>
<div>
  <div class="contenttitle radiusbottom0">
    <h2 class="help"><span>Sales</span></h2>
  </div>
  <!--contenttitle-->
  <table cellspacing="0" cellpadding="0" border="0" class="stdtable">
    <colgroup>
      <col class="con0">
      <col class="con1">
      <col class="con0">
      <col class="con1">
      <col class="con0">
    </colgroup>

    <tbody>
      <tr>
        <td>Total Sales:</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Total Takings:</td>
        <td>21</td>
      </tr>
      <tr>
        <td>50 Credits:</td>
        <td>21</td>
      </tr>
      <tr>
        <td>250 Credits:</td>
        <td>21</td>
      </tr>
      <tr>
        <td>1000 Credits:</td>
        <td>21</td>
      </tr>
      <tr>
        <td>2500 Credits:</td>
        <td>21</td>
      </tr>
    </tbody>
  </table><br>
</div>