<% content_for :menu do %>
  <ul class='maintabmenu'><li class='current'><a href='javascript:void(0)'>Schedule</a></li></ul>
<% end %>
<table style="width:100%" class="fc-header">
  <tbody>
    <tr>
      <td class="fc-header-left">
        <span class="fc-button-content">&nbsp;</span>
      </td>
      <td class="fc-header-center">
        <span class="schedule-week-during">
          <% thedate = @thedate.beginning_of_week 
             weekenddate = @thedate.end_of_week  %>
          <h2><%= thedate.strftime("%b %e"); %>  &mdash; <%= weekenddate.strftime("%b %e %Y"); %></h2>
        </span>
      </td>
      <td class="fc-header-right">
        <span class="schedule-week-today fc-button"><%= link_to "today", admin_schedules_url %></span>
        <span class="schedule-week-previous fc-button">
          <%=link_to "«", index_by_date_admin_schedules_path(thedate-1) %>
        </span>
        <span class="schedule-week-next fc-button">
          <%=link_to "»", index_by_date_admin_schedules_path(thedate+8) %>
        </span>  
      </td>
    </tr>
  </tbody>
</table>
<div class="schedule_management">
  <table class="stdtable" border="0" cellpadding="0" cellspacing="0">
    <colgroup>
      <col class="con0">
      <col class="con1">
      <col class="con0">
      <col class="con1">
      <col class="con0">
    </colgroup>
    <thead>
      <tr>
        <th class="head0">Week</th>
        <% (0..11).each do | d | %>
          <th class="head1"><%= d*2 %></th>
          <th class="head0"><%= d*2+1 %></th>
        <% end %>  
      </tr>
    </thead>
    <tbody>
      <%  (0..6).each do |w| %>
        <% day_shedules = @schedules[w] %>
          <tr>
            <td><%= (thedate+w).strftime("%a, %d/%m") %> </td>
            <% (0..23).each do |num| %>
              <% s = is_bookable(@schedules[w][num], thedate+w, num) %>
              <td class="<%= s %>" id="td_<%=  (w.to_s+"_"+num.to_s) %>">
                <%  case s
                when "bookable"
                  title = "title = Book" %>
                  <%= render "book", :new_schedule=>@op_schedules[w][num],:id=>("td_"+w.to_s+"_"+num.to_s) %>
                <%  
                when "booked" 
                  title = "title = Cancel" %>
                    <%= render "cancel", :schedule=>@op_schedules[w][num],:id=>("td_"+w.to_s+"_"+num.to_s) %>
                <% else
                  title = "" %>
                  <span class="<%= s %>_span" <%= title  %> ><%= s.html_safe  %>&nbsp;</span>
                <%  end %>
              </td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= form_tag request_holidays_admin_schedules_path, {:class=>"stdform requests-holiday"}  do %>
    <label class="request-holiday">
      From
    </label>
    <input class="date-pick" name="start_date">
    <label class="request-holiday">
      To
    </label>
    <input class="date-pick" name="end_date">
    <select class="request-holiday" name="setting">
      <option value="set">Set</option>
      <option value="unset">Unset</option>
    </select>
    <input type="submit" value="Request Holidays" class="request-holiday">
  <% end %>
</div>  
<%= link_to "<span>GoTo Work page</span>".html_safe, work_page_admin_schedules_path, :class=>"anchorbutton goto_workpage"  %>  